@font-face {
  font-family: "Comics";
  src: url("./ComicSansRus.ttf");
}

@property
--middle-font-size{
    syntax: "<length>";
    inherits: false;
    initial-value: 12px;
}

@property
--modal-font-size{
  syntax: "<length>";
  inherits: false;
  initial-value: 16px;
}