#program-modal {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: white;
    z-index: 3;
    opacity: 30%;
    
}

.modal-wrapper{
    display: none;
}

#close-program-modal {
    color: #0f0f0f;
    top: -8px;
    right: 21px;
    font-size: 40px;
    cursor: pointer;
}

#modal-panel {
    background-color: rgba(247, 247, 247, 100);
    top: 50px;
    left: 31%;
    padding: 32px;
    text-align: left;
    max-height: 600px;
    min-width: 560px;
    z-index: 15;
    width: 400px;
    font-size: 20px;
    overflow-y: scroll;
    font-family: "Comics";
}